h1 {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 70px;
    color:  Gray; 
    align: center;
    margin-left: 30px;
}

#minister * {
    color:  White;
    align:  right;
    font-family: Arial;
    font-color: White;
   }

#minister main {
    background-color: Green ;
    border: 10px solid Black;
    width: 100px;
    height: 100px;
    padding-left: 100px;
    margin-left: 20px;
    position: center; 
}


#minister miscellaneous {
    background-color: Green ;
    border: 10px solid Black;
    width: 100px;
    height: 100px;
    padding-left: 100px;
    margin-left: 20px;
    position: center; 
}
