h1 {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 70px;
    color:  Gray; 
    align: center;
    margin-left: 30px;
}


body {
    margin: 0;
}
#minister * {
    color:  White;
    ###align:  vertical;
    font-family: Arial;
    font-color: White;
    ###hight: 100px;
    ###width: 100px;
   }

#minister main {
    background-color: Green ;
    border: 10px solid Black;
    width: 100px;
    height: 100px;
    ###padding-left: 100px;
    ###margin-left: 20px;
    position: fixed: (0,0); 
}


#minister miscellaneous , #minister diarrhea , #minister hypertension {
    background-color: Green ;
    border: 10px solid Black;
    width: 100px;
    height: 100px;
    ###padding-left: 100px;
    ###margin-left: 20px;
    ###padding-top: 20px;
    ###margin-top: 20px; 
    ###position: (0,0); 
}
