h1 {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 70px;
    color:   Green;
    align: center;
    margin-left: 30px;
}

#minister {
    color:  Green;
    align  center;
   }

#minister main {
     background color:  Green ;
}
